- name: deploy war file into webapps 
  copy: 
    src: /tmp/{{vprofile}}-{{buidid}}.war
    dest: "{{tomcat_home_dir}}/webapps/vprofile.war"
    remote_src: yes
   
- name: stop tomcat service
  shell: nohup "{{tomcat_home_dir}}/bin/startup.sh &"
